<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgb(99, 214, 227);
  color: white;
}
</style>
</head>
<body>
<h2><%= link_to "Pet Index", '/pets' %></h2>
<h2><%= link_to "Shelter Index", '/shelters' %></h2>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <h1>Update Pet Information</h1>
  <%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %><br>
  <%= label_tag :age %>
  <%= text_field_tag :age, @pet.age %><br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, @pet.sex %><br>
  <%= label_tag :image %>
  <%= text_field_tag :image, @pet.image %><br>
  <%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %><br>
  <%= submit_tag 'Submit'%>
<% end %>
</body>
