<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h2> <%= pet.name %> </h2>
  <p> <%= pet.age %> </p>
  <p> <%= pet.sex %> </p>
  <p> <%= pet.shelter.name %> </p>
<% end %>
