<h1>All Pets</h1>
<h2><%= link_to "Shelter Index", '/shelters' %></h2>
<% if @shelter %>
  <%= link_to 'Add A Pet', "/shelters/#{@shelter.id}/pets/new" %>
<% end %>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <p> <%= pet.age %> </p>
  <p> <%= pet.sex %> </p>
  <p><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter_id}" %></p>
  <%= button_to 'Update Pet Info', "/pets/#{pet.id}/edit", method: :get %>
  <%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %>

<% end %>
