<h1>All Pets</h1>
<% if @shelter %>
  <%= link_to 'Add A Pet', "/shelters/#{@shelter.id}/pets/new" %>
<% end %>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h2> <%= pet.name %> </h2>
  <p> <%= pet.age %> </p>
  <p> <%= pet.sex %> </p>
  <p> <%= pet.shelter.name %> </p>
<% end %>
