<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
  <h1>Add A Pet</h1>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :age %>
  <%= text_field_tag :age %><br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex %><br>
  <%= label_tag :image %>
  <%= text_field_tag :image %><br>
  <%= label_tag :description %>
  <%= text_field_tag :description %><br>
  <%= submit_tag 'Submit'%>
<% end %>
