<h2><%= link_to "Pet Index", '/pets' %></h2>
<h2><%= link_to "Shelter Index", '/shelters' %></h2>

<h1><%= @pet.name %></h1>
  <%= image_tag(@pet.image) %>
  <p> <%= @pet.age %> </p>
  <p> <%= @pet.sex %> </p>
  <p> <%= @pet.description %> </p>
  <p><%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}" %></p>
  <p> <%= @pet.adopted %> </p>
  <%= button_to 'Update', "/pets/#{@pet.id}/edit", method: :get %>
  <%= button_to 'Delete', "/pets/#{@pet.id}", method: :delete %>
